<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Task</title>
</head>
<body>

<a href="/tasks">Wszytskie</a>
<a href="/finished">Skończone</a>
<a href="/unfinished">Nieskończone</a>


<h1>Dodaj zadanie</h1>
<form action="/tasks" method="post">
    <label>Podaj nazwę zadania</label>
    <br>
    <input type="text" name="name" required>
    <br>
    <label>Podaj opis</label>
    <br>
    <textarea name="description">
    </textarea>
    <br>
    <label>Skończony</label>
    <input type="checkbox" name="finished">
    <br>

    <input type="submit" value="Dodaj zadanie">

</form>


</body>
</html>